.Navigation
  display: flex
  flex-direction: column
  padding-top: 6px

  @media (min-width: 768px)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding-top: 0

  &__Logo-Text
    color: #fff
    font-size: 28px
    margin-bottom: -12px

    @media (min-width: 768px)
      font-size: 40px
      margin-bottom: 0
      transform: translateY(-3px)

    &_Highlight
      font-size: inherit
      margin-left: 8px
      color: #b75dff
      font-family: MainFontBold

  &__List
    display: flex
    list-style: none
    padding: 0

    &-Item
      margin-right: 20px
      color: #fff
      border-bottom: 5px solid transparent
      transition: var(--transition)

      &:hover
        border-bottom-color: var(--primary)

      @media (min-width: 768px)
        margin: 0 16px

  &__Instagram
    position: absolute
    right: var(--global-padding)
    top: 16px
    display: flex
    color: #fff
    margin: 0

    @media (min-width: 768px)
      position: static

    &-Icon
      color: #fff
      width: 20px
      height: 20px
      margin-right: 8px

      @media (min-width: 768px)
        transform: translateY(3px)

