* {
  font-family: RubikLight;
  font-size: 20px;
  line-height: 1.4;
}

body {
  min-height: 100vh;
  background: var(--background-dark);
  color: var(--background-dark-text);
}

img {
  display: block;
  width: 100%;
}