:root {
  /* Colors */
  --background-dark: #171820;
  --background-dark-text: #fff;
  --background-light: #f1f1f1;
  --background-light-text: #0a1112;

  --primary: #6e00c6;
  --primary-dark: #5900a2;
  --primary-light: #b75dff;

  /* Spacings */
  --global-padding: 16px;
  --page-top-space: 32px;

  /* Others */
  --transition: all .15s ease-in-out;
  --container-width: 1000px;
  --container-wide-padding: 100px;
}