:root {
  /* Colors */
  --background: #171820;
  --text: #fff;
  --text-light: #9699a8;

  --primary: #6e00c6;
  --primary-dark: #5900a2;
  --primary-light: #b75dff;

  --sasha-gray: #676a77;
  --green: #006a29;
  --teal: #008293;
  --lucy-color: #fa7000;
  --slava-color: #ff254d;


  /* Spacings */
  --global-padding: 16px;
  --page-top-space: 32px;

  /* Others */
  --transition: all .15s ease-in-out;
  --container-width: 1000px;
  --container-wide-padding: 100px;
}