:root {
  /* Colors */
  --background-dark: #0a1112;
  --background-dark-text: #fff;
  --background-light: #f1f1f1;
  --background-light-text: #0a1112;

  --primary: #5d0d9d;

  /* Spacings */
  --global-padding: 16px;

}